[submodule "app"]
	path = packages/app
	url = git@github.com:hypertype/app

[submodule "core"]
	path = packages/core
	url = git@github.com:hypertype/core

[submodule "domain"]
	path = packages/domain
	url = git@github.com:hypertype/domain

[submodule "infr-node"]
	path = packages/infr-node
	url = git@github.com:hypertype/infr-node

	
[submodule "infr-browser"]
	path = packages/infr-browser
	url = git@github.com:hypertype/infr-browser
	
	
[submodule "infr"]
	path = packages/infr
	url = git@github.com:hypertype/infr
	
[submodule "ui"]
	path = packages/ui
	url = git@github.com:hypertype/ui

[submodule "tools"]
	path = packages/tools
	url = git@github.com:hypertype/tools
